{% extends 'base.html' %}
        {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
function copyToClipboard(elemento) {
  var $temp = $("<input>")
  $("body").append($temp);
  $temp.val($(elemento).text()).select();
  document.execCommand("copy");
  $temp.remove();
}

</script>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p class="d-none" id="p1"> localhost:8000/inicia/Secion/</p>
    <a href="#" class="btn btn-primary"  onclick="copyToClipboard('#p1')">Copiar Enlace</a>
  </div>
</div>       
                  {% endblock %}
